.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--color-background);
	overflow: hidden;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;
}
